body {
  background-color: #d8d8d8;
  padding: 80px;
}
h1, h2 {
  display: inline-block;
}
h1 {
  font-size: 40px
}
h2 {
  font-size: 20px;
}
span {
  background: #fd0;
}
title {
  display: block;
  width: 300px;
  height: auto;
}
