body {
  background-color: #d8d8d8;
  padding: 80px;
}
h1, h2 {
  display: inline-block;
}
h1 {
  font-size: 40px
}
h2 {
  font-size: 20px;
}
span {
  background: #fd0;
}
div.title {
  background-image:url('https://raw.githubusercontent.com/Sweet-Talk/Sweet-Talk/master/assets/TITLE.png');
  width: 600px;
  height: auto;
}
