body {
  background-color: #d8d8d8;
  padding: 80px;
}
h1, h2 {
  display: inline-block;
}
h1 {
  font-size: 40px
}
h2 {
  font-size: 20px;
}
span {
  background: #fd0;
}
.logo {
  background: url("https://raw.githubusercontent.com/Sweet-Talk/Sweet-Talk/master/assets/LOGO.png")
  width: 200px;
  height: auto;
}
